```
# Dependencies
node_modules/

# Build artifacts
dist/
build/
*.js.map

# Logs
*.log

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.gitattributes
.next
out/
nyc_output/
coverage/
*.lcov
*.tgz
*.tar.gz
*.tar.xz
*.zip
*.rar
*.7z
*.bz2
*.xz
*.zst
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.Z
*.lz
*.lzo
*.gz
*.tar
*.tar.bz2
*.tar.zst
*.tar.lz4
*.tar.lz
*.tar.lzo
*.tar.Z
*.tar.xz
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.tar.lz4
*.tar.lz
*.tar.lzo
*.tar.Z
*.tar.xz
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.tar.lz4
*.tar.lz
*.tar.lzo
*.tar.Z
*.tar.xz
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.tar.lz4
*.tar.lz
*.tar.lzo
*.tar.Z
*.tar.xz
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.tar.lz4
*.tar.lz
*.tar.lzo
*.tar.Z
*.tar.xz
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.tar.lz4
*.tar.lz
*.tar.lzo
*.tar.Z
*.tar.xz
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.tar.lz4
*.tar.lz
*.tar.lzo
*.tar.Z
*.tar.xz
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.tar.lz4
*.tar.lz
*.tar.lzo
*.tar.Z
*.tar.xz
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.tar.lz4
*.tar.lz
*.tar.lzo
*.tar.Z
*.tar.xz
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.tar.lz4
*.tar.lz
*.tar.lzo
*.tar.Z
*.tar.xz
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.tar.lz4
*.tar.lz
*.tar.lzo
*.tar.Z
*.tar.xz
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.tar.lz4
*.tar.lz
*.tar.lzo
*.tar.Z
*.tar.xz
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
......
```